# Sepolia Testnet
# ALCHEMY_RPC_URL=https://eth-sepolia.g.alchemy.com/v2/[api_key]
# PRIVATE_KEY=**** (Metamask)

# Ganache Local Testing
# GANACHE_RPC_URL=****
# GANACHE_ACCOUNT_PRIVATE_KEY=****

# PRIVATE_KEY is stored temporarily and is not required if
# .encryptedKey.json file is generated using encryptKey.js script
# ENCRYPTED_KEY_PASSWORD=****




